/*css styles for Lucky7*/

.head {
	text-align: center;
	display: block;
}
h1 {
	font-family: 'Lobster', cursive;
}

button {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
table {
	display: none;
	background-color: #99967b;
	border-collapse: collapse;
}
